* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: 'Muli', 'Noto Sans KR', 'Noto Sans JP', 'NanumBarunGothic', 'NanumGothic', 'Malgun Gothic', sans-serif;
    font-weight: 400;
    
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}

b {
	font-weight: 700;
}

strike {
	opacity: 0.5;
}

.contents {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}

.contents a {
	color: #ff7784;
	text-decoration: none;
}

h1 {
    letter-spacing: -1.5px;
}

span.subtitle {
    font-weight: bold;
}

.selfie {
    width: 250px;
    height: 250px;
    float: right;
}

.right {
	height: 200px;
	float: right;
}

p.hr {
	margin: 16px 0;
	height: 0;
	width: 100%;
	border-bottom: 1px dashed #ddd;
}

th, td {
	padding: 8px;
	border-bottom: 1px solid #ddd;
	vertical-align: top;
}

table.time_table {
	width: 100%;
	border-spacing: 0;
    border-collapse: collapse;
}

table.time_table tr {
	border-bottom: 1px solid #ddd;
}

table.time_table tr th:first-of-type,
table.time_table tr td:first-of-type {
	border-right: 1px solid #ddd;
	vertical-align: top;
}

tr.time_row {
	height: 100px;
}

.tt_class_1 {
	background: #ff7784;
	font-weight: bold;
}

.tt_class_2 {
	background: #e56b76;
	font-weight: bold;
}

.tt_class_3 {
	background: #ff8490;
	font-weight: bold;
}

.tt_class_4 {
	background: #ffadb5;
	font-weight: bold;
}

.tt_class_5 {
	background: #ff929c;
	font-weight: bold;
}

.tt_class_6 {
	background: #ff9fa8;
	font-weight: bold;
}